<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368335819419-clap9ilrdrao9qpgksc53m805f5slivi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368335819419-clap9ilrdrao9qpgksc53m805f5slivi</string>
	<key>API_KEY</key>
	<string>AIzaSyDXIfpucjF5EFTCKxl9n2O901TLBCXdX3o</string>
	<key>GCM_SENDER_ID</key>
	<string>368335819419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.geim.geimmmp</string>
	<key>PROJECT_ID</key>
	<string>geim-51fc1</string>
	<key>STORAGE_BUCKET</key>
	<string>geim-51fc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368335819419:ios:df9d8af73194f6b6abec3e</string>
</dict>
</plist>